// Basic Styles
link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
link#bootstrap-rtl-link(href='', rel='stylesheet')
link(href='//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
link(href='//cdn.bootcss.com/weather-icons/2.0.10/css/weather-icons.min.css', rel='stylesheet')
// Fonts
link(href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300', rel='stylesheet', type='text/css')
// Beyond styles
link#beyond-link(href='../assets/css/beyond.min.css', rel='stylesheet')
link(href='../assets/css/demo.min.css', rel='stylesheet')
link(href='../assets/css/typicons.min.css', rel='stylesheet')
link(href='../assets/css/animate.min.css', rel='stylesheet')
link#skin-link(href='', rel='stylesheet', type='text/css')
// Skin Script: Place this script in head to load scripts for skins and rtl support
script(src='../assets/js/skins.min.js')