doctype html
html(lang="en")
    head
       meta(charset="utf-8")
       title TGBUS_CMS
       include base/include
    body
      include base/navbar
      .main-container.container-fluid
         .page-container
            include base/Sidebar
      include base/include2